body {
  /*background: rgb(23,71,68);*/
  
  background: rgb(5,50,140);
background: linear-gradient(151deg, rgba(5,50,140,1) 0%, rgba(87,52,25,1) 49%, rgba(13,121,25,1) 100%);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
