.btn{
    background-color: rgba(117, 95, 95, 0.836);
    border-radius: 15px;
    color: black;
    font-size: 25px;
}
.h1{
    color: wheat;
}

.div{
    display: block;
    height: 3em;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    background-color:  grey ;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 45px;
    border-style: solid;
    border-color: black;
}